Create a list of integers from 1 to 10.

In [66]:
my_list=[]
for i in range(1,11):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Create a list of strings and print the number of elements in the list.

In [68]:
my_list=['apple','banana','cherry','date','manago']
print("the no.of elements in the list is :",len(my_list))

the no.of elements in the list is : 5

Reverse the order of elements in a given list.

In [70]:
my_list[::-1]
print('#1',my_list)
# another way
my_list.reverse()
print('#2',my_list)

#1 ['apple', 'banana', 'cherry', 'date', 'manago']
#2 ['manago', 'date', 'cherry', 'banana', 'apple']

In [72]:
my_list=[10,20,4,45,99]
largest_number= my_list[0]
for num in my_list:
    if num > largest_number:
        largest_number = num
print("the largest number is :",largest_number)

# another way
largest_number = max(my_list)
print(largest_number)

the largest number is : 99
99

Find the smallest number in a list of numbers.

In [74]:
my_list=[2,3,4,5,7]
smallest_number =my_list[0]
for i in my_list:
    if smallest_number > i:    
        smallest_number=i
        print(my_list[i])
print('the smallest number in te list:',smallest_number)

the smallest number in te list: 2

In [76]:
my_list=[2,3,4,5,6,7]
smaleest_number= my_list[0]
for i in range(len(my_list)):
    if my_list[i]<smaleest_number:
        smaleest_number=my_list[i]
print("",smaleest_number)

 2

In [78]:
fruits =["banana",'apple','cherry','date']

user_input =input('enter a fruit to check:')

if user_input in  fruits:
    print(f'{user_input} is in the list')
else:
    print(f'{user_input} is not in the list')

enter a fruit to check: krishna

krishna is not in the list

In [110]:
my_list=[1,2,2,4,4,6]
duplicate_numbers=list(set(my_list))
print(duplicate_numbers)

[1, 2, 4, 6]

In [117]:
my_list=[1,32,32,4,5,6,4]
unique_list=[]

for i in my_list:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[1, 32, 4, 5, 6]

Add an element to the end of a list and to the beginning.

In [119]:
my_list=[2,3,4,5]

my_list.append(6)

my_list.insert(0,1)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [127]:
my_list = [1,2,2,2,2,2,2,2,2,2,3,4,5,6]
element_to_count = 2
count=0
for num in my_list:
    if num == element_to_count:
        count+=1
print("the number appears",count)

the number appears 9

In [129]:
my_list = [1, 2, 3, 2, 4, 2, 5]

# Count how many times 2 appears in the list
count_of_2 = my_list.count(2)

print("The number 2 appears", count_of_2, "times.")

The number 2 appears 3 times.

Combine two lists into one list.

In [132]:
list1=[1,2,3]
list2=[4,5,6]
my_list=list1+list2
print(my_list)

[1, 2, 3, 4, 5, 6]

In [136]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [138]:
list1=[1,2,3]
list2=[4,5,6]
emty_list= list1.copy()
for i in list2:
    emty_list.append(i)
print(emty_list)

[1, 2, 3, 4, 5, 6]

In [140]:
my_list=[1,2,3,4,5,6,7,8,9]
even_number =[]
for i in my_list:
    if i%2==0:
        even_number.append(i)
print(even_number)

[2, 4, 6, 8]

In [142]:
my_list =[1,2,3,4,5]
total_sum =0
for num in my_list:
    total_sum +=num
print(total_sum)

15

In [144]:
my_list=[1,2,3,9,4,5]
total_sum =sum(my_list)
print(total_sum)

24

Sort a list of strings alphabetically

In [149]:
my_list =['cherry','apple','bananana','dates','date']
my_list.sort()
print(my_list)

['apple', 'bananana', 'cherry', 'date', 'dates']

In [155]:
my_list =['banana','cherry','mango','date','watermelon']
my_list = sorted(my_list)
print(my_list)

['banana', 'cherry', 'date', 'mango', 'watermelon']

In [209]:
my_list =['banana','goa','apple','cherry','date']
n=len(my_list)
print(n)
for i in range(n):
    # print(my_list[i],i)
    for j in range(0,n-i-1):
        if my_list[j] > my_list[j+1]:
            print(j,my_list[j],n-i-1)
            my_list[j],my_list[j+1] = my_list[j+1],my_list[j]
print('sorted list',my_list)

5
1 goa 4
2 goa 4
3 goa 4
0 banana 3
sorted list ['apple', 'banana', 'cherry', 'date', 'goa']

In [219]:
my_list=['apple', 'banana', 'goa','cherry', 'date', 'grapes']

my_list.sort(reverse=True)
print(my_list)

mylist= sorted(my_list,reverse=True)

print(mylist)

['grapes', 'goa', 'date', 'cherry', 'banana', 'apple']
['grapes', 'goa', 'date', 'cherry', 'banana', 'apple']

In [229]:
my_list=[10,20,30,40]
sorted_list=[]
while my_list:
    max_valuee=max(my_list)
    sorted_list.append(max_valuee)
    my_list.remove(max_valuee)
print(sorted_list)

[40, 30, 20, 10]

In [233]:
my_list=[40, 30, 20, 10]
sorted_list=[]
while my_list:
    max_valuee=min(my_list)
    sorted_list.append(max_valuee)
    my_list.remove(max_valuee)
print(sorted_list)

[10, 20, 30, 40]

In [237]:
my_list=[10,20,304,40,44]
item=304
index=my_list.index(item)
print(f'the index of {item} is {index}')

the index of 304 is 2

In [241]:
my_list=[10,20,30,40]
index_to_remove=3
index=my_list.pop(index_to_remove)
print(index)
print(my_list)

40
[10, 20, 30]

In [247]:
numbers=[1,2,3,4,5,6,7]
x=[]
for i in numbers:
    x.append(i*i)
print(x)

[1, 4, 9, 16, 25, 36, 49]

In [251]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
merged_list=[]
for item in list1:
    if item not in list2:
        merged_list.append(item)
for item in list2:
    if item not in list1:
        merged_list.append(item)
print(merged_list)

[1, 2, 3, 6, 7, 8]

In [253]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
mergerd_list=list(set(list1)^set(list2))
print(mergerd_list)

[1, 2, 3, 6, 7, 8]

In [255]:
my_list=['vijay','apple','dog','banana','cat','grape','kiwi']
filtered_list =[]
for item in my_list:
    if len(item)>=5:
        filtered_list.append(item)
print(filtered_list)

['vijay', 'apple', 'banana', 'grape']

In [261]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(len(matrix[0]))

transposed_matrix = []

# Loop through each column index
for col in range(len(matrix[0])):
    # Create a new row for the transposed matrix
    new_row = []
    # Loop through each row in the original matrix
    for row in matrix:
        new_row.append(row[col])  # Append the element from each row at the current column
    transposed_matrix.append(new_row)  # Add the new row to the transposed matrix

# Print the transposed matrix
for row in transposed_matrix:
    print(row)

3
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]