In [12]:
firstname=input()
lastname=input()

if firstname == 'vijay' and lastname == 'patil':
    print('correct guess')
elif firstname == 'VIJAY' or lastname == 'Patil':
    print('correct guess')
else:
    print('error')

 VIJAY
 ptil

correct guess

In [18]:
a=True 
if a==1:
    print('this is valid')

this is valid

In [2]:
intial_speed=1
final_speed=100
count=1
while intial_speed<final_speed:
    count+=1 
    print("speed",count)
    if count==50:
        print("speed is 50")  
    if count==99:
        print("you reached your destination") 
        break

speed 2
speed 3
speed 4
speed 5
speed 6
speed 7
speed 8
speed 9
speed 10
speed 11
speed 12
speed 13
speed 14
speed 15
speed 16
speed 17
speed 18
speed 19
speed 20
speed 21
speed 22
speed 23
speed 24
speed 25
speed 26
speed 27
speed 28
speed 29
speed 30
speed 31
speed 32
speed 33
speed 34
speed 35
speed 36
speed 37
speed 38
speed 39
speed 40
speed 41
speed 42
speed 43
speed 44
speed 45
speed 46
speed 47
speed 48
speed 49
speed 50
speed is 50
speed 51
speed 52
speed 53
speed 54
speed 55
speed 56
speed 57
speed 58
speed 59
speed 60
speed 61
speed 62
speed 63
speed 64
speed 65
speed 66
speed 67
speed 68
speed 69
speed 70
speed 71
speed 72
speed 73
speed 74
speed 75
speed 76
speed 77
speed 78
speed 79
speed 80
speed 81
speed 82
speed 83
speed 84
speed 85
speed 86
speed 87
speed 88
speed 89
speed 90
speed 91
speed 92
speed 93
speed 94
speed 95
speed 96
speed 97
speed 98
speed 99
you reached your destination

In [10]:
notes=5
i=1
j=1
while i< notes:
    print('qwe',i)
    i+=1
else:
    while j<2:
        print(i)
        j+=1
    print("vijay")

qwe 1
qwe 2
qwe 3
qwe 4
5
vijay

In [16]:
s='sudh'
print(s)
print(s[3])

sudh
h

In [28]:
sentence ='my name is sudhanshu'

print(sentence[3:10])
print(sentence[::-1])

name is
uhsnahdus si eman ym

In [26]:
sentence[9:2:-1]

'si eman'

In [38]:
for i in range(1,16):
    print(sentence[i])

y

n
a
m
e

i
s

s
u
d
h
a

In [42]:
for i in 'vijay':
    if i=='a':
        break
    print(i)
else:
    print('vijay out')

v
i
j

In [40]:
for i in 'vijay':
    if i=='a':
        continue
    print(i)
else:
    print('vijay out')

v
i
j
y
vijay out

In [35]:
a='chemistry bannu rescord book'
empty=''
hello=''
for i in a:
    if i in ('a','e','i','o','u'):
        hello+=i
        continue
    else:
        empty= empty+i
print(empty)
print(hello)

chmstry bnn rscrd bk
eiaueooo

In [5]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('+ ',end= '')
    print()

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [29]:
n=7
for i in range(n):
    for j in range(n-i):
        print('+ ',end='') 
    print()

+ + + + + + +
+ + + + + +
+ + + + +
+ + + +
+ + +
+ +
+

In [65]:
n=7
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [57]:
num=5
m= 2 * num-2
for i in range(num,-1,-1):
    for j in range(m,0,-1):
        print(end=' ')
    m=m+1
    for j in range(0,i+1):
        print("*",end=' ')
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [59]:
n=9
i=0
while i<n:
    print(' '*(n-i-1)+'* '*(i+1))
    i=i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [146]:
n=7
for i in range(0,7):
    for j in range(i):
        print("*",end='')
    print()

*
**
***
****
*****
******

In [148]:
for i in range(7,0,-1):
    for j in range(i):
        print("*",end='')
    print()

*******
******
*****
****
***
**
*

In [154]:
n=int(input())
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    print()

 5

*****
 ****
  ***
   **
    *

In [134]:
n=int(input())
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

 9

*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [140]:
n=int(input())
for i in range(0,n):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2*i-1):
        print('*',end='')
    print()
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

 6

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [142]:
n=int(input())
for i in range(0,n):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print('* ',end='')
    print()
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print('* ',end='')
    print()

 5

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [162]:
n=int(input())
for i in range(n,0,-1):
    for j in range(i):
        print('*',end='')
    for j in range(n-i):
        print(' ',end='')
    print()

 5

*****
****
***
**
*

In [214]:
n=9
i=0
while i<n:
    print(f'{' '*(i) + '* '*(n-i)}')
    i=i+1

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [176]:
n=5
i=0
while i<n:
    print("* "*i)
    i+=1

*
* *
* * *
* * * *

In [244]:
n=0
i=5
while n<i:
    print("* "*(i))
    i-=1

* * * * *
* * * *
* * *
* *
*

In [206]:
n=9
i=0
while i<n:
    print(' '* (n-i)+'* '*(i+1))
    i+=1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *